@import url(../font/iconfont.css);
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
.navi{
    height: 40px;
    width: 100%;
    font-size: 16px;
    background: #333333;
    line-height: 40px;
    font-family: "microsoft yahei";
    font-weight: bolder;
}
.navi a{
    text-decoration: none;
    color: #ffffff;
}
table{
    height: auto;
    width: 100%;
    font-family: "microsoft yahei";
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    line-height: 40px;
    margin-top: 10px
}
th{
    color: #ffffff;
    background: #333333;
    border:1px #cccccc solid;
    .arrow{
        font-family: 'iconfont';
        font-size: 20px;
        cursor: pointer;
    }
}
tr{
    height: 20px;
    color: #1c1c1c;
    background: #ffffff;
    &:nth-child(even){
        background: #f5f5f5;
    }
    &:hover{
        background: #f2ebeb;
    }
    td{
        border:1px #cccccc solid;
        .x{
            font-family: 'iconfont';
            font-size: 14px;
            cursor: pointer;
            color: red;
            margin-left: 20px;
            margin-right: 20px;
            
        }
        .inp{
            border: none;
            background: transparent;
            text-align: center;
            font-size: 14px;
            width: 100%;

        }
    }
}
tbody tr.bg{
    background: #1c1c1c;
    color: #fff;
}
tbody tr.bg td .inp{
    color: #fff;
}
.adddata{
    height: 50px;
    float: left;
    line-height: 25px;
    margin-left: 30px;
}
.btn{
    float: left;
    width: 100px;
    height: 40px;
    margin-top: 3px;
    margin-left: 30px;
}
.warn{
    color: red;
}
